@import url('https://fonts.googleapis.com/css2?family=Bad+Script&family=Roboto:wght@100;300;400&display=swap');

:root {
    --main-bg-color: #FFFDF5;
    --accent-color: #514A7E;
    
    --main-font: 'Roboto', sans-serif;
    --accent-font: 'Bad Script', cursive;

    --huge-font: 60px;
    --big-font: 40px;
    --meduim-font: 20px;
    --small-font: 16px;
    --extra-small-font: 12px;

    --black-text-color: #121212;
    --grey-text-color: #7D7D7D;
    --white-text-color: #FFFDF5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: var(--main-bg-color);
    font-family: var(--main-font);
    width: 100vw;
    overflow-x: hidden;
    font-weight: 300;
}

h2 {
    font-weight: 300;
}

h3 {
    font-weight: 300;
}

.wrapper {
    width: 80%;
    max-width: 1500px;
    margin: 0 auto;
}

.flex {
    display: flex;
}

.grid {
    display: grid;
}

input[type=text] {
    border: none;
    outline: none;
    border-bottom: 1px solid var(--grey-text-color);
    background-color: transparent;
    color: var(--grey-text-color);
    font-weight: 100;
    font-size: var(--extra-small-font);
    padding-bottom: 4px;
}

.accent-text {
    font-family: var(--accent-font);
    color: var(--accent-color);
}

/* navbar */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 49px;
    padding-bottom: 61px;
}

.navbar-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 18px;
}

.searchbar {
    width: 300px;
}

/* header */
header > div {
    display: flex;
    justify-content: space-between;
}

.header-img-1 {
    width: 278px;
    height: 242px;
    margin-bottom: 60px;
}

.title {
    font-size: var(--huge-font);
    font-weight: 300;
    margin-bottom: 40px;
}

.subtitle {
    font-size: var(--small-font);
    color: var(--grey-text-color)
}

.header-img-2 {
    width: 476px;
    height: 416px;
}

.main-button {
    display: block;
    margin: 0 auto 150px auto;
    position: relative;

    width: 193px;
    height: 193px;
    border: 1px solid var(--accent-color);
    border-radius: 50%;
    background-color: transparent;

    color: var(--accent-color);
    font-size: var(--meduim-font);

    padding-bottom: 20px;
    padding-right: 30px;

    transition: all 0.5s ease-out;
}

.main-button svg {
    position: absolute;
    bottom: 80px;
    right: 30px;
}

.main-button:hover {
    background-color: var(--accent-color);
    color: var(--white-text-color);
    box-shadow: 0px 0px 25px var(--accent-color);
}

svg path {
    transition: all .5s ease-out;
}

button:hover svg path {
    fill: #FFFDF5;
}

/* why us */
.why-us {
    position: relative;
}

.why-us p {
    color: var(--grey-text-color)
}

h2 {
    font-size: var(--big-font);
    margin-bottom: 94px;
}

.round-button {
    background-color: var(--accent-color);
    box-shadow: 0px 3px 10px var(--accent-color);
    width: 72px;
    height: 72px;
    border-radius: 50%;
    border: none;

    transition: all 0.2s ease-in;
}

.round-button:hover {
    transform: scale(1.1);
}

.points-top {
    width: 90%;
    display: flex;
    gap: 100px;
    margin-bottom: 98px;
}

.dot {
    position: relative;
}

.dot::after {
    content: '';
    position: absolute;
    border-radius: 50%;
    background-color: var(--accent-color);
    box-shadow: 0px 3px 10px var(--accent-color);
}

.dot-small::after {
    height: 25px;
    width: 25px;
}

.dot-bottom::after {
    bottom: -10px;
    right: 15px;
}

.dot-top::after {
    top: -25px;
    right: -35px;
}

.dot-big::after {
    height: 47px;
    width: 47px;
    bottom: -25px;
    right: -55px;
}

.points-bottom {
    width: 80%;
    display: flex;
    gap: 260px;
    justify-content: center;
    margin-bottom: 184px;
}

.about-us-buttons {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: -300px;

    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
}

.circle {
    position: absolute;
    top: -170px;
    right: -230px;

    width: 429px;
    height: 429px;
    border-radius: 50%;
    border: 1px solid var(--accent-color);
    color: transparent;
}

/* deals */
.deals {
    margin-bottom: 150px;
    position: relative;
}

.deals .wrapper {
    width: 100%;
    margin-left: 10%;
}

.deals h2 {
    position: relative;
}

.deals h2 span {
    position: absolute;
    top: 20px;
    left: 270px;
}

.cards-container {
    gap: 80px;
}

.card {
    width: 30%;
}

.card .flex {
    align-items: end;
}

.card .flex:not(:last-child) {
    justify-content: space-between;
    align-items: center;
    margin-bottom: 13px;
}

.card .flex:last-child {
    justify-content: space-between;
}

.card .price {
    margin-bottom: 13px;
}

.card img {
    width: 100%;
}

.price .old {
    position: relative;
    color: var(--grey-text-color);
}

.price .new {
    padding-right: 23px;
}

.price .old::after {
    content: '';
    position: absolute;
    display: block;
    height: 1px;
    width: 140%;
    top: 50%;
    left: -20%;
    background-color: var(--grey-text-color);
}

.card-buttons img {
    width: 18px;
    margin-bottom: 18px;
}

.card-buttons img:first-child {
    margin-right: 12px;
}

.card p {
    color: var(--grey-text-color)
}

.card .rating {
    width: 55px;
}

.card button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    width: 148px;
    height: 37px;
    color: var(--black-text-color);
    background-color: transparent;
    border: 1px solid var(--black-text-color);
}

.card button img {
    width: 25px;
}

.cards-btn {
    position: absolute;
    bottom: 120px;
    right: 0;
    background-color: var(--main-bg-color);
    width: 95px;
    height: 47px;
    border: none;
    box-shadow: 0px 0px 10px var(--accent-color);
}

.cards-btn-mobile {
    display: none;
}

/* reviews */
.reviews {
    margin-bottom: 150px;
    overflow: hidden;
}

.reviews-container {
    grid-template-columns: 3fr 3fr 1fr;
    gap: 80px;
    align-items: center;
    justify-items: center;
    margin-bottom: 30px;
}

.review-card {
    display: flex;
    gap: 49px;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 40px 24px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.15);
}

.review-card .avatar {
    width: 94px;
}

.review-rating {
    width: 70px;
}

.review-card .review-content {
    flex-direction: column;
    justify-content: stretch;
}

.review-card div > * {
    margin-bottom: 12px;
}

.review-card p {
    color: var(--grey-text-color);
    font-size: var(--extra-small-font);
}

.review-card-info {
    display: flex;
    justify-content: space-between;
}

.review-card span {
    font-size: var(--extra-small-font);
}

.review-card .date {
    color: var(--accent-color);
}

.reviews .reviews-next {
    width: 92px;
    height: 92px;
    border-radius: 50%;
    background-color: transparent;
    border: 1px solid var(--accent-color);
}

.reviews .reviews-next img {
    width: 38px;
}

.reviews-button {
    width: 148px;
    height: 37px;
    border: none;
    background-color: var(--accent-color);
    color: var(--white-text-color);
    font-family: var(--main-font);
}

.dots-mobile {
    display: none;
}

/* faq */
.faq {
    position: relative;
    margin-bottom: 150px;
}

.faq h2 {
    position: relative;
}

.faq h2 span {
    position: absolute;
    top: 20px;
    left: 540px;
}

.faq .label {
    position: relative;
    cursor: pointer;
    font-weight: 300;
    font-size: var(--meduim-font);
    margin-bottom: 15px;
}

.faq .label::after {
    content: '+';
    position: absolute;
    top: 15%;
    right: 0;
    display: inline-block;
    color: var(--accent-color);
    font-weight: 100;
    font-size: 30px;
    transition: all .5s;
}

.faq .content {
    color: var(--grey-text-color);
    height: 0;
    overflow: hidden;
    font-size: var(--small-font);
    transition: 0.5s;
}

.accordion .container.active .content {
    height: 50px;
}

.accordion .container.active hr {
    background-color: transparent;
}

.accordion .container.active .label::after {
    transform: rotate(45deg);
}

.faq hr {
    margin-top: 17px;
    margin-bottom: 27px;
    border: none;
    height: 1px;
    background-color: var(--grey-text-color);
    transition: all .1s ease-in;
}

.faq-circle {
    top: -270px;
}

/* partnership */
.partnership {
 margin-bottom: 153px;
}

.partnership p {
    color: var(--grey-text-color);
}

.partnership-container {
    width: 100%;
    justify-content: space-between;
    margin-bottom: 60px;
}

.partnership-card {
    text-align: center;
}

.partnership-card h4 {
    font-size: var(--meduim-font);
    margin-bottom: 22px;
    font-weight: 300;
}

.partnership-card p {
    font-size: var(--extra-small-font);
}

.partnership .wrapper > p {
    margin-bottom: 60px;
}

.partnership h3 {
    font-size: var(--meduim-font);
    margin-bottom: 67px;
}

.pros {
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.pros img {
    margin-bottom: 17px;
}

/* form */
form {
    display: flex;
    flex-direction: column;
    width: 714px;
    padding: 34px 51px;
    background-color: var(--white-text-color);
}

.form-bg {
    background-color: var(--accent-color);
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 450px;
    width: 970px;
    margin-bottom: 150px;
}

.form legend {
    font-weight: 400;
    font-size: var(--meduim-font);
    margin-bottom: 40px;
    color: var(--black-text-color);
}

.form .field:not(:last-child) {
    margin-bottom: 25px;
}

.form label {
    display: flex;
    align-items: center;
    gap: 7px;
    font-size: var(--extra-small-font);
    color: var(--grey-text-color);
}

form button {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 9px;
    margin-top: 41px;
    width: 148px;
    height: 37px;
    border: none;
    background-color: var(--accent-color);
    color: var(--white-text-color);
}

/* footer */
footer {
    position: relative;
    background-color: var(--accent-color);
    color: var(--white-text-color);
    padding-top: 82px;
    padding-bottom: 86px;
}

.footer {
    display: flex;
    justify-content: start;
    gap: 97px;
}

.footer figure {
    max-width: 30%;
}

.footer figcaption {
    font-size: var(--meduim-font);
    font-weight: 400;
    margin-bottom: 20px;
}

.footer ul {
    list-style: none;
    font-size: var(--small-font);
}

.footer ul li:not(:last-child) {
    margin-bottom: 10px;
}

.contact-info li {
    font-weight: 100;
}

.footer .flex.social-icons {
    gap: 15px;
}

.footer ul.socials li {
    margin-bottom: 30px;
}

footer .circle {
    top: -400px;
}

footer .dot {
    position: absolute;
    top: -500px;
    right: -100px;
    width: 200px;
    height: 200px;
    background-color: var(--accent-color);
    border-radius: 50%;
}

footer .logo {
    position: absolute;
    width: 84px;
    height: 84px;
    bottom: 12%;
    right: 10%;
}

/* mobile */
@media (max-width: 415px) {
    .wrapper {
        width: 95%;
    }

    h2 {
        font-size: 24px;
        text-align: center;
        margin-bottom: 50px;
    }

    .circle {
        display: none;
    }

    .dot {
        display: none;
    }

    /* header */
    .header-bg {
        background-image: url(images/photos/mobile-bg.png);
        height: 100vh;
        margin-bottom: 50px;
    }

    .navbar-group {
        width: 100%;
    }

    .navbar .searchbar {
        background-color: var(--white-text-color);
        padding: 10px 10px;
        border-radius: 8px;
        width: 100%;
        display: block;
    }

    .navbar img {
        display: none;
    }

    .header-img-1 {
        display: none;
    }

    .header-img-2 {
        display: none;
    }

    header {
        text-align: center;
        color: var(--white-text-color);
    }

    header .title .accent-text {
        color: var(--white-text-color);
    }

    header .subtitle {
        color: var(--white-text-color);
        margin-bottom: 30px;
    }

    .main-button {
        color: var(--white-text-color);
        background-color: var(--accent-color);
    }

    .main-button svg path {
        fill: var(--white-text-color);
    }

    /* why-us */


    /* deals */
    .deals {
        margin-bottom: 100px;
    }

    .deals .wrapper {
        width: 95%;
        margin: 0 auto;
    }

    .cards-container {
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 40px;
    }

    .card {
        position: relative;
        width: 43%;
    }

    .card > img {
        border-radius: 25px;
    }

    .card button {
        display: none;
    }

    .card-info p {
        font-size: var(--extra-small-font);
    }

    .card .card-buttons .favorite {
        position: absolute;
        top: 3%;
        right: 1%;
    }

    .card .card-buttons .bag {
        position: absolute;
        bottom: -20px;
        right: 0;
    }

    .cards-btn-pc {
        display: none;
    }

    .cards-btn-mobile {
        display: block;
        margin-top: 30px;
        margin-left: auto;
        margin-right: auto;
        border: none;
        background-color: var(--accent-color);
        width: 158px;
        height: 37px;
        color: var(--white-text-color);
        box-shadow: 0 0 5px var(--accent-color);
    }

    /* reviews */
    .reviews {
        margin-bottom: 90px;
    }

    .reviews-container {
        gap: 15px;
    }

    .review-card {
        gap: 10px;
        padding: 15px 15px;
        width: 300px;
    }

    .reviews .review-card .review-card-info {
        margin-bottom: 0;
    }

    .reviews .name {
        margin-bottom: 0;
    }

    .reviews .date {
        margin-bottom: 0;
    }

    .reviews-next {
        display: none;
    }

    .reviews-button {
        display: none;
    }

    .dots-mobile {
        display: block;
        margin: 0 auto;
    }

    /* faq */
    .faq {
        margin-bottom: 100px;
    }

    .faq .accent-text {
        left: 300px;
    }

    .accordion .container.active .content {
        height: 115px;
    }

    /* partnership */
    .partnership {
        text-align: center;
        margin-bottom: 60px;
    }

    .partnership-container {
        flex-wrap: wrap;
        gap: 25px;
    }

    .partnership-card {
        width: 165px;
        height: 78px;
        background-color: var(--accent-color);
        color: var(--white-text-color);
        border-radius: 10px;
        padding: 30px 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        box-shadow: 0 0 5px var(--accent-color);
    }

    .partnership-card h4 {
        font-weight: 100;
        font-size: var(--extra-small-font);
        margin-bottom: 0;
    }

    .partnership-card p {
        display: none;
    }

    .pros-container {
        flex-direction: column;
    }

    .pros p {
        margin-bottom: 35px;
    }

    /* form */
    .form-bg {
        display: static;
        width: 100%;
        height: 550px;
        margin-bottom: 5px;
    }

    form {
        width: 100%;
        text-align: center;
        padding: 40px 20px;
    }

    form legend {
        font-size: 12px;
    }

    form button {
        display: block;
        margin-left: auto;
        margin-right: auto;
        transform: scale(1.3);
    }

    /* footer */
    .footer {
        flex-direction: column;
    }

    figure .dropdown {
        display: none;
    }
}